/* Mobile */
@media (max-width: 500px) and (min-width: 381px) {
   .image-info {
      background: url(../img/mobile-final-min.webp) no-repeat center
         center/cover;
      max-width: 100%;
   }
   #navbar {
      position: relative;
      flex-direction: column;
      text-align: center;
   }
   #logo img {
      margin: 0.01rem;
      width: 110.75px;
      height: 70.25px;
   }
   #navbar ul li a {
      text-align: center;
      color: rgb(184, 185, 186);
      font-size: 20px;
      padding: 1.2rem;
   }
   .name {
      padding-top: 500px;
      padding-left: 20px;
      margin: 1px;
      max-width: 100%;
   }
   .name h1 {
      font-size: 25px;
   }
   .name p {
      font-size: 0.9rem;
      color: aliceblue;
      background-color: rgba(0, 0, 0, 0.4);
   }
   #about-me {
      max-width: 100%;
   }
   #about-me,
   about-me h1 {
      padding-left: 5px;
      display: block;
   }
   #about-me .image1 {
      display: none;
   }
   #about-me .Texts {
      font-size: 0.8rem;
      padding: 5px 10px;
   }
   #contact {
      background: #333;
      border-radius: 25px;
      margin: auto;
      max-width: 80%;
      max-height: 100%;
   }
   #contact h1 {
      font-size: 25px;
   }
}

@media (min-width: 500px) and (max-width: 600px) {
   .image-info {
      background: url(../img/background-small-devices-min.webp) no-repeat center
         center/cover;
      max-width: 100%;
   }
   #logo img {
      margin: 0.01rem;
      width: 110.75px;
      height: 70.25px;
   }
   .name {
      padding-top: 280px;
      padding-left: 30px;
      margin: 1px;
   }
   .name h1 {
      font-size: 30px;
   }
   .name p {
      font-size: 0.9rem;
   }

   #about-me,
   about-me h1 {
      padding-left: 5px;
      display: block;
   }
   #about-me .image1 {
      display: none;
   }
   #about-me .Texts {
      font-size: 0.9rem;
      padding: 5px 10px;
   }
   #contact {
      background: #333;
      border-radius: 25px;
      margin: auto;
      max-width: 60%;
      max-height: 100%;
   }
   #contact h1 {
      font-size: 30px;
   }
}

@media (max-width: 380px) {
   .image-info {
      background: url(../img/mobile-final-min.webp) no-repeat center
         center/cover;
   }
   #navbar {
      position: relative;
      flex-direction: column;
      text-align: center;
   }
   #logo img {
      margin: 0.01rem;
      width: 110.75px;
      height: 70.25px;
   }
   #navbar ul li a {
      text-align: center;
      color: rgb(184, 185, 186);
      font-size: 20px;
      padding: 1rem;
   }
   .name {
      padding-top: 250px;
      padding-left: 30px;
      margin: 1px;
   }
   .name h1 {
      font-size: 25px;
   }
   .name p {
      font-size: 0.9rem;
      color: aliceblue;
      background-color: rgba(0, 0, 0, 0.4);
   }
   #about-me,
   about-me h1 {
      padding-left: 5px;
      display: block;
   }
   #about-me .image1 {
      display: none;
   }
   #about-me .Texts {
      font-size: 0.8rem;
      padding: 5px 10px;
   }
   #contact {
      background: #333;
      border-radius: 25px;
      margin: auto;
      max-width: 80%;
      max-height: 100%;
   }
   #contact h1 {
      font-size: 25px;
   }
}
